@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

:root {
    --white: rgb(218, 215, 215);
    --black: #222;
    --red: hsl(0, 50%, 50%);
    --green: hsl(120, 50%, 50%);
    --blue: hsl(200, 50%, 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geo', monospace;
}

body {
    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.container {

    display: flex;
    flex-direction: column;

    border: 5px solid var(--white);
}

.container header {
    width: 100%;
    height: 50px;
    background-color: var(--white);
    
    display: flex;
    justify-content: space-between;
    align-items: start;
}


.container #gen {
    width: 100%;
    height: 50px;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.btn {
    width: 100px;
    height: 45px;
    font-size: 24px;

    background-color: var(--black);
    color: var(--white);
}

#reset {
    width: 140px;
}

#start:hover {
    background-color: var(--green);
}

#reset:hover {
    background-color: var(--red);
}

#next:hover {
    background-color: var(--blue);
}
